

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: auto;
    padding-top:25px;
}

.content{
    width:100vw;
    height: auto;
    padding-top: 25px;
}

.container{
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.container h1{
    margin: 20px;
    
}

.container p{
    max-width: 560px;
    text-align: left;
    margin-bottom: 20px;
}

#site-title{
    font-weight: bold;
}

.main-nav{
    margin-left: 60px;
    padding-top:10px 0 10px;
    position:absolute;
    right: 0;
}

.main-nav-list li{
    display:inline;
   
}
.main-nav-list li a{
    text-decoration: none;
    color: black;
    font-size: large;
    margin:20px;
}

.text{
    font-weight:bold;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.wrap-btn{
    border:none;
    background-color: transparent;
    cursor:pointer;
    font-size: large;
    outline: none;
}

.open-btn{
    position:fixed;
    top:25px;
    left:10px;
}

.wrap{
    background:rgb(255, 255, 255);
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .2s ease-in-out; 
 }

 .wrap.visible{
     transform: translateX(0);
 }



.wrap-black{
   background:black;
   width:60%;
   max-width: 480px;
   transition-delay: 0.2s;

}

.wrap-white{
    background-color: white;
    width: 95%;
    padding: 40px;
    position:relative;
}

.close-btn{
    opacity: 0.2;
    position:absolute;
    top:40px;
    right:20px;
}
.list{
    list-style-type:none;
    padding:0px;
}

.list li{
    margin:20px 0px 0px;
}
.list li a{
    color:black;
    text-decoration: none;
    font-size: 20px;

}

@media(max-width: 600px){
    .main-nav{
        display:none;
    }
}
